/* .web{
    text-align:center;
    color:white;
    font-size:xx-large;
    font-weight:bold;
}
/* .btn{
    background-color:green;
    width:100%;
    color:white;
    border:none;
    padding:15px;
    cursor:pointer;

} */
/* .heading{
    text-align:center;
    color:red;

} */